<!--
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_star_rating
-->
<span class="fa fa-star {{checked}}"(click) = "getRating(1, true)"></span>
<span class="fa fa-star {{checked1}}"(click) = "getRating(2, true)"></span>
<span class="fa fa-star {{checked2}}" (click) = "getRating(3, true)"></span>
<span class="fa fa-star {{checked3}}" (click) = "getRating(4, true)"></span>
<span class="fa fa-star {{checked4}}" (click) = "getRating(5, true)"></span>
