<!--
Show-book component displays the selected book and all comments
-->
<div class="row">
<div class="col-sm-4">
<div class="imgBox">
<p (click) = "back()"><img src="{{post.url}}" width="465px" height="425px" alt="Book Image"><p>
  <div class="imgName">{{post.firstName}} {{post.lastName}}</div>
  <div class="imgTitle">{{post.title}}</div>
</div>
  <button *ngIf="isLoggedIn && !isFavourite" (click) = "addFavourite()">Add Favourite</button>
  <button class="removeFav" *ngIf="isLoggedIn && isFavourite" (click) = "removeFavourite()">My Favourite</button>
</div>
  <div class="col-sm-5">
    <app-comment [postId]="post"> </app-comment>
    <div class="commentBox">
      <div class="commentTitle" *ngFor="let comment of comments"><div id="commentTitleText"><h1>{{comment.title}}</h1></div>
      <div class="commentPerson">Comment by: {{comment.name}} <p>{{comment.created.substring(0,15)}}</p></div>
      <div class="comment" (click) = "back()"> {{comment.comments}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">

    <div class="userFavTitle">
      <!--https://www.theworks.co.uk/page/books-->
      <img src="rate-book.png" alt="side img">

      <img src="rate-book2.png" class="img2" alt="side img">
    </div>
  </div>
</div>
