@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
div {
  font-family: 'Muli', sans-serif;
  font-size: 22px;
}
button {
  position: relative;
  top: 15px;
  left: 150px;
}
.comment {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 600px;
  height: auto;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}
.commentTitle {
}
#commentTitleText{
  display: block;
  position: relative;
  font-family: 'Indie Flower', cursive;
  margin-bottom: 20px;
  width: 600px;
  height: 50px;top: 10px;
  text-align: center;
  background: #f6ff96;
}
.commentPerson {
  display: block;
  width: 600px;
  height: auto;
  text-align: left;
  top: 20px;
  margin-top:10px;
}
.commentBox {
  width: 600px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 26px;
}
.imgName {
  text-align: center;
  font-weight: bold;
}
.imgTitle {
  text-align: center;
}
.imgBox {
  cursor: pointer;
  margin-left: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #cccccc;
}
.userFav {
  position: relative;
  text-align: center;
  width: auto;
  cursor: pointer;
}
.userFavTitle {
  padding-left: 70px;
  position: relative;
  float: right;
}
.removeFav {
  background-color: #b74433;
  color: #fff;
}
.img2 {
  position: relative;
  top: -10px;
  left: 18px;
}
