<!--
Login component allows registered users to login
-->
<div class="container">
<form #form="ngForm" (ngSubmit)="onSubmitLogin(form.value)" class="well">
 <div class="errors"> {{errors}}</div>
  <div class="form-group">
    <label>UserName</label>
    <input type="text" class="form-control" required name="username" ngModel>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="text" class="form-control" required name="password" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
  <button type="button" class="btn btn-success" (click)="cancel()">Cancel</button>
</form>
<div class="sign-in"><p>Not registered?</p>
  <button (click)="register()">Register here</button>
</div>
</div>
