<div role="navigation">
  <div class="navbar navbar-inverse" id="main_nav">
    <a href="/" class="navbar-brand">BookFace</a>
    <ul class="nav navbar-nav">
      <li class="links"> <a routerLink="home" routerLinkActive="active">Home</a></li>
      <li class="links"> <a routerLink="author" routerLinkActive="active">Authors</a></li>
      <li class="links"> <a routerLink="user-profile" routerLinkActive="active" *ngIf="isLoggedIn" (click)="userProfile()">My Favourites</a></li>
      <li class="links"> <a routerLink="admin" routerLinkActive="active" *ngIf="isLoggedIn && isAdmin" (click)="userProfile()">Admin</a></li>
      <li class="links"> <a routerLink="#" routerLinkActive="active" *ngIf="isLoggedIn" (click)="clear()">Log Out</a></li>
      <li class="links"> <a routerLink="#" routerLinkActive="active" *ngIf="!isLoggedIn" (click)="checkIn()">Log In</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
