.nav_buttons {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.test {
  text-align: center;
  border: solid 1px #cccccc;
  margin: 10px;
}
.innerTitle {
  text-align: center;
}
.adminTitle {
  text-align: center;
}
.plusImg {
  cursor: pointer;
}
.formBook {
  margin-right: 65px;
  text-align: center;
}
.userForm {
  text-align: center;
  border: solid 1px #cccccc;
  margin: 10px;
  width: 225px;
}
.authorForm {
  position: relative;
  top: 30px;
  text-align: center;
  margin: 10px;
  width: 225px;
}
.bin {
  cursor: pointer;
}
.edit {
  cursor: pointer;
}
