<!--
Admin component allow the user to create, read, update and delete: (users, books, comments and authors)
-->
<div class="row">
  <div class="col-sm-9">
    <div class="nav_buttons">
    <button type="submit" class="btn btn-info" (click)="showBooks()">Books</button>
    <button type="submit" class="btn btn-info" (click)="showUsers()">Users</button>
    <button type="submit" class="btn btn-info" (click)="showComments()">Comments</button>
    <button type="submit" class="btn btn-info" (click)="showAuthors()">Authors</button>
  </div>

    <!--Show all books-->
    <div class="adminBooks" *ngIf="showAdminBooks">
   <div class="adminTitle">
    <h1>Add Books <img src="plus.png" class="plusImg"(click)="addBook()" width="25px" height="25px" alt="add book"></h1>
   </div>
    <ul class="nav nav-pills nav">
      <li class="test" *ngFor="let book of booksArray"  [class.active]="text"><img src="{{book.url}}" width="165px" height="225px" alt="{{book.title}}">
        <div class="innerAuthor"> {{book.firstName}} {{book.lastName}}</div>
        <div class="innerTitle">
        <input class="innerTitle" type="text" [(ngModel)]="book.title">
        </div>
        <img src="update.png" class="edit"(click)="updateBook(book)" width="35px" height="35px" alt="update book">
        <img src="bin.png" class="bin" (click)="deleteBook(book)" width="35px" height="35px" alt="update book">
        </li>
    </ul>
    <div class="div-line"></div>
   </div>

    <!--Show all users-->
    <div class="adminUsers" *ngIf="showAdminUsers">
      <div class="adminTitle">
        <h1>Add Users <img src="plus.png" class="plusImg"(click)="addUsers()" width="25px" height="25px" alt="add users"></h1>
      </div>
      <ul class="nav nav-pills nav">
        <li class="userForm" *ngFor="let user of usersArray">
          <form #form="ngForm" (ngSubmit)="onSubmitUpdateUserPost(form.value, user)" class="well">
          <div class="form-group"><input class="form-control" type="text" name="userName" placeholder={{user.userName}} [(ngModel)]="user.userName"></div>
          <div class="form-group"> <input class="form-control" type="text" name="email" placeholder={{user.email}} [(ngModel)]="user.email"> </div>
          <div class="form-group">
            <input class="form-control" type="text" name="password" placeholder={{user.password}} [(ngModel)]="user.password">
          </div>
          <input type="submit" img src="update.png" width="35px" height="35px" alt="update book"/>
          <img src="bin.png" class="bin" (click)="deleteUser(user)" width="35px" height="35px" alt="update book">
          </form>
        </li>
      </ul>
      <div class="div-line"></div>
    </div>

    <!--Show all comments-->
    <div class="commentBox" *ngIf="showAdminComments">
      <div class="adminTitle">
          <h1>Comments</h1>
      </div>
    <ul class="nav nav-pills nav">
      <li class="userForm" *ngFor="let comment of comments">
        <form #form="ngForm" (ngSubmit)="onSubmitUpdateUserComments(form.value, comment)" class="well">
          <div class="form-group"><input class="form-control" type="text" name="title" [(ngModel)]="comment.title"></div>
          <div class="form-group"> <input class="form-control" type="text" name="name" [(ngModel)]="comment.name"> </div>
          <div class="form-group">
            <input class="form-control" type="text" name="created" [(ngModel)]="comment.created">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="comments" [(ngModel)]="comment.comments">
          </div>
          <input type="submit" img src="update.png" width="35px" height="35px" alt="update book"/>
          <img src="bin.png" class="bin" (click)="deleteComment(comment)" width="35px" height="35px" alt="update book">
        </form>
      </li>
    </ul>
    </div>

    <!--Show all authors-->
    <div class="table-container" *ngIf="showAdminAuthors">
      <div class="adminTitle">
        <h1>All Authors<img src="plus.png" class="plusImg"(click)="addAuthors()" width="25px" height="25px" alt="add users"></h1>
      </div>
      <ul class="nav nav-pills nav">
        <li class="userForm" *ngFor="let author of authors">
          <form #form="ngForm" (ngSubmit)="onSubmitUpdateAuthors(form.value, author)" class="well">
            <div class="form-group"><input class="form-control" type="text" name="firstName" [(ngModel)]="author.firstName"></div>
            <div class="form-group"> <input class="form-control" type="text" name="lastName" [(ngModel)]="author.lastName"> </div>
            <input type="submit" img src="update.png" width="35px" height="35px" alt="update book"/>
            <img src="bin.png" class="bin" (click)="deleteAuthor(author)" width="35px" height="35px" alt="update author">
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <!--Add books form-->
    <div class="formBook" *ngIf="showBookPost && showAdminBooks">
      <h1>Add Book</h1>
      <form #form="ngForm" (ngSubmit)="onSubmitBookPost(form.value)" class="well">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" required name="firstName" ngModel>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" required name="lastName" ngModel>
        </div>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" required name="title" ngModel>
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
          <input type="file" id="picture" (change)="onFileChange($event)" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-success" (click)="cancelAddBooks()">Cancel</button>
      </form>
    </div>
    <!--Add users form-->
    <div class="formBook" *ngIf="showUsersPost && showAdminUsers">
      <h1>Add User</h1>
      <form #form="ngForm" (ngSubmit)="onSubmitUserPost(form.value)" class="well">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" required name="userName" ngModel>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" required name="email" ngModel>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="text" class="form-control" required name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-success" (click)="cancelAddUsers()">Cancel</button>
      </form>
    </div>
    <!--Add author form-->
    <div class="authorForm">
     <div class="form-group" *ngIf="addAuthorForm && showAdminAuthors">
      <h1>Add Author</h1>
      <form #form="ngForm" (ngSubmit)="onSubmitAuthor(form.value)" class="well">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" required name="firstName" ngModel>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" required name="lastName" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-success" (click)="cancelAddAuthor()">Cancel</button>
      </form>
     </div>
    </div>
  </div>
</div>
