.table-container {
  margin: auto;
  text-align: center;
}
.w3-table-all {
  border: 1px;
  margin: auto;
  width: 30%;
  border: solid 1px #cccccc;
}
.table-head {
  text-align: center;
  margin: auto;
  border: solid 1px #cccccc;
}
.updateModel {
  cursor: pointer;
  border: solid 1px #cccccc;
}
#btn-post {
  display: inline-block;
}
.buttonAdd {
  position: relative;
  left: 110px;
  display: inline-block;
  bottom: 8px;
}
.innerTitle{
  position: relative;
  left: 100px;
  display: inline-block;
}
.innerTitle2{
  position: relative;
  width: 100%;
  top: 15px;
  text-align: center;
  display: inline-block;
}
h1 {
  margin: 0;
  display: inline-block;
}

