<!--
Author component show a list of all authors
-->
<div class="table-container">
  <div class="authorTitle">

  </div>
<table class="w3-table-all">
  <thead>
  <tr class="table-head">
    <th><div class="innerTitle2" *ngIf="!addAuthor"><h2>Authors</h2></div> <div class="innerTitle" *ngIf="addAuthor"><h2>Authors</h2></div> <div class="buttonAdd"><button class="btn btn-primary" id="btn-post" *ngIf="addAuthor" (click)="addAuthorBook()">Add Author</button></div></th>
  </tr>
  </thead>
 <tr *ngFor="let name of author">
    <td class="updateModel"><a (click)="chooseAuthor(name)">{{name.firstName}} {{name.lastName}}</a></td>
  </tr>
</table>
</div>

<div class="form-group" *ngIf="addBook">
  <form #form="ngForm" (ngSubmit)="onSubmitAuthor(form.value)" class="well">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" required name="firstName" ngModel>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" required name="lastName" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn btn-success" (click)="cancelAdd()">Cancel</button>
  </form>
</div>


