#btn-post {
  position: relative;
  display: inline-block;
  bottom: 8px;
  margin-left: 8px;
}
.bookHeader {
  display: inline-block;
}
.bookTitle {
  margin: auto;
  text-align: center;
}
.test {
  cursor: pointer;
  text-align: center;
  border: 1px solid #cccccc;
  margin-bottom: 8px;
}
.authorMain {
  width: 80%;
  margin-left: 25%;
}
.formBook {
  width: 85%;
}
.innerAuthor {
  font-weight: bold;
}
