<!--
Author-Book component adds a book to an author and displays all the authors books
-->
<div class="bookTitle">
  <div class="bookHeader"> <h1>{{header}}  books</h1></div><button class="btn btn-primary" id="btn-post" *ngIf="isLoggedIn" (click) = "addBook()">Add Book</button>
</div>
<div class="authorMain">
<div class="col-sm-9">
  <div class="formBook" *ngIf="showBookPost">
    <form #form="ngForm" (ngSubmit)="onSubmitPost(form.value)" class="well">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" required name="title" ngModel>
      </div>
      <div class="form-group">
        <label for="picture">Picture</label>
        <input type="file" id="picture" (change)="onFileChange($event)" multiple>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-success" (click)="cancelPost()">Cancel</button>
    </form>
  </div>
  <div class="div-line"></div>
</div>
<!--
Display all books for selected author
-->
<div class="col-sm-9">
  <ul class="nav nav-pills nav">
    <li class="test" (click)="singleBook(book)" *ngFor="let book of bookPost"[class.active]="text"><img src="{{book.url}}" width="165px" height="225px" alt="Books">
      <div class="innerAuthor"> {{book.firstName}} {{book.lastName}}</div>
      <div class="innerTitle"> {{book.title}}</div>
    </li>
  </ul>
  <div class="div-line"></div>
</div>
</div>
