<!--
Home component displays the latest books in the database
-->
<div class="row">
  <div class="col-sm-9">
    <h1>New Books</h1>
    <ul class="nav nav-pills nav">
      <li class="test" (click)="sendBook(book)" *ngFor="let book of booksArray"  [class.active]="text"><img src="{{book.url}}" width="165px" height="225px" alt="{{book.title}}">
        <div class="innerAuthor"> {{book.firstName}} {{book.lastName}}</div>
        <div class="innerTitle"> {{book.title}}</div>
        <div class="stars"> <span class="fa fa-star {{book.checked}}"></span>
          <span class="fa fa-star {{book.checked1}}"></span>
          <span class="fa fa-star {{book.checked2}}"></span>
          <span class="fa fa-star {{book.checked3}}"></span>
          <span class="fa fa-star {{book.checked4}}"></span>
        </div></li>
    </ul>
    <div class="div-line"></div>
  </div>
  <div class="col-sm-3">
    <!--https://www.theworks.co.uk/page/books-->
    <img src="rate-book.png" alt="side img">

    <img src="rate-book2.png" class="img2" alt="side img">

  </div>
</div>

