@import url('https://fonts.googleapis.com/css?family=Muli');
.test {
  width: auto;
  height: auto;
  border: 1px solid #cccccc;
  overflow: hidden;
  margin: 15px;
  cursor: pointer;
}
.div-line {
  width: auto;
  height: auto;
  margin-right: 20px;
  margin-left: 15px;
  border: 1px solid #cccccc;
}
h1 {
  font-family: 'Muli', sans-serif;
  margin-left: 15px;
}
p {
  font-family: 'Muli', sans-serif;
}
.innerAuthor {
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}
.innerTitle {
  padding-top: 4px;
  font-size: 15px;
  text-align: center;
}
.text {
  width: auto;
  height: auto;
  float: right;
}
#middle {
  margin: 0 auto;
  text-align: center;
}
.test1 {
  position:relative;
  top: 14px;
  float: right;
  margin-right: 5px;
}
.stars {
  text-align: center;
}

/*.box {
  width: auto;
  height: auto;
  border: 1px solid;
  margin: 20px;
}*/
.checked {
  color: orange;
}
.img2 {
  position: relative;
  top: -10px;
  left: 18px;
}
