<!--
User Profile component displays the current user favourite books
-->
<div class="row">
  <div class="col-sm-8">
    <h1>{{username}} favourite books</h1>
        <ul class="nav nav-pills nav">
      <li class="test" (click)="sendBook(book)" *ngFor="let book of userFavouriteBooks"  [class.active]="text"><img src="{{book.url}}" width="165px" height="225px" alt="Books">
        <div class="innerAuthor"> {{book.firstName}} {{book.lastName}}</div>
        <div class="innerTitle"> {{book.title}}</div>
     </li>
    </ul>
    <div class="div-line"></div>
</div>
  <div class="col-sm-4">
    <div class="userFavTitle" *ngIf="isLoggedIn">
      <p>Users with similar favourites:</p>
      <ul class="nav nav-pills nav-stacked">
        <div class="userFav" (click) = "userProfile(user)" *ngFor="let user of mySet">
         <li>
           <div class="profile">
            <div class="profileImg"><img src="unknown.gif" class="innerImg" width="30px" height="30px" alt="ProfileImage">
              <div class="profileUser">{{user}}</div>
            </div>
           </div>
         </li>
        </div>
      </ul>
    </div>
  </div>
</div>
