h1 {
  font-family: 'Muli', sans-serif;
  margin-left: 15px;
}
p {
  font-family: 'Muli', sans-serif;
}
.innerAuthor {
  font-weight: bold;
  padding-top: 4px;
  text-align: center;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}
.innerTitle {
  padding-top: 4px;
  font-size: 15px;
  text-align: center;
}
.text {
  width: auto;
  height: auto;
  float: right;
}
.test {
  width: auto;
  height: auto;
  border: 1px solid #cccccc;
  overflow: hidden;
  margin: 15px;
  cursor: pointer;
}
.userFavTitle {
  position: relative;
  float: right;
}
div {
  font-family: 'Muli', sans-serif;
  font-size: 22px;
}
.userFav {
  cursor: pointer;
}
.profileImg {
  padding-left: 20px;
  padding-bottom: 12px;
}
.innerImg {
  float: left;
  margin-right: 6px;
  border-radius: 100%;
  border: 1px solid #ccc;
}
.profileUser {
  padding-left: 10px;
}
