<!--
Register component registers a new user
-->
<div class="resgisterForm" *ngIf="registerForm">
<form #form="ngForm" (ngSubmit)="onSubmitRegister(form)" class="well">
  <div class="errors" *ngFor="let error of errors"> <ul class="registerErrors"> <li>{{error.username}}</li> <li>{{error.email}}</li>
    <li>{{error.password}}</li> <li>{{error.repeatPassword}}</li><li>{{error.passwordCheck}}</li></ul></div>
  <div class="form-group">
    <label>UserName</label>
    <input type="text" class="form-control" required name="username" ngModel>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" required name="email" ngModel>
  </div>
  <div class="form-group">
  <label>Password</label>
  <input type="password" class="form-control" name="password" ngModel>
</div>
  <div class="form-group">
  <label>Repeat Password</label>
  <input type="password" class="form-control" name="rPassword" ngModel>
  </div>
  <button type="submit" class="btn btn-success">Register</button>
</form>
</div>
<div class="registerMessage" *ngIf="!registerForm">
  <h1>{{message}}</h1>
</div>
