<!--
Comment component displays a form to post comments
-->

<div class="form-group" *ngIf="isLoggedIn && showCommentForm; else showButtons">
<form #form="ngForm" (ngSubmit)="onSubmitComment(form.value)" class="well">
  <div class="form-group">
<label>Title</label>
<input type="text" class="form-control" required name="title" ngModel>
  </div>
  <div class="form-group">
    <label>Comment</label>
    <textarea class="form-control" rows="3"  required name="comment" ngModel></textarea>
  </div>
 <div class="form-group">
<div class="btns">
    <button class="btn btn-danger" id="btn-post" type="submit">Post</button>
    <app-ratings> </app-ratings> - Your ratings!
</div>
 </div>
</form>
</div>


<ng-template #showButtons>
  <div class="form-group" id="buttons_top">
    <button class="btn btn-primary" id="btn-post2" (click) = "comment()">Comment</button>
    <button class="btn btn-success" id="rating"  *ngIf="!showRating; else stars" (click) = "rating()">Ratings</button>
  </div>
 </ng-template>
<ng-template #stars><app-ratings> </app-ratings>- Your ratings!</ng-template>
