#btns {
  margin-top:10px;
}
.form-group {
  width: 630px;
}
input {
  width: 600px;
}
textarea {
  width: 600px;
}
form {
  background: #f9f9f9;
}
#buttons_top {
  margin-left: 20px;
}
.checked {
  color: orange;
}
/*
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  width:250px;
  line-height: 50px;
  font-size: 50px;
  clear: right;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ff960b;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #ff960b;
}
*/
